# =================================================
#  AIREASE TRAVELS & TOURS BACKEND - ENVIRONMNENT
# =================================================

# 1. DataBase Configuration Live Server Mongodb Atlas
MONGO_URI = mongodb+srv://<db_username>:<db_password>@aireasetravelsandtoursd.rf6zeb8.mongodb.net/AirEaseTravelsandToursDatabase?appName=AirEaseTravelsandToursDatabase

# 2. Backend Listening Port and Environment
NODE_ENV = production
PORT= XXXX 

# 3. Authentication and Security
JWT_SECRET=your_actual_private_secret_key_here

# 4. Intital Super Admin Account Details
ADMIN_EMAIL=your-real-admin@email.com
ADMIN_NAME=Your Admin Name
ADMIN_PASSWORD=A_Very_Strong_Secure_Password_Here

# 5. CORS and Frontend URL
FRONTEND_URL = https://aireasetravelstours.vercel.app/
CORS = https://aireasetravelstours.vercel.app/